<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Sample App</title>

  <!-- CSS -->
  <!-- load bootstrap and our own personal stylesheet -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
  <div class="jumbotron">
  	<table class="table">
  		<tr>
  			<th>Sender</th>
  			<th>Message</th>
  		</tr>
  		<% for(i = 0; i < JSON.parse(data).length; i++) { %>
  			<tr>
	  			<td><%= JSON.parse(data)[i].sender %></td>
	  			<td><%= JSON.parse(data)[i].message %></td>
	  		<tr>
  		<% } %>
  </div>
</div>
    
</body>
</html>